<!DOCTYPE html>
<html lang="zh-Hant" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/fragments :: head('Portal Home')"></head>
<body>
	<div th:replace="fragments/fragments :: navbar"></div>

	<div id="spa-container">
		<div id="hero-section" th:replace="fragments/fragments :: heroSection"></div>
	    <div th:replace="fragments/fragments :: main"></div>
	</div>

	<div th:replace="fragments/fragments :: scripts"></div>
</body>
</html>
